*{
  background-image: url('med4.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
}
*{ 
margin: 0; 
border: 0; 
text-align: center;
background-color:#F0F8FF;
font-family: sans-serif;
}

input[type="file"]
{
width: 350px;
height: 50px;
font-size:18px;
margin-bottom:25px;
border-radius: 4px;
padding-left: 10px;
}

.dws-submit i
{

font-size: 18px;
color:#fff;
border:none;
cursor: pointer;
background: none;
color: white;
}

.dws-submit
{
padding: 14.5px 128px;
margin: 5px 0 20px 0;
font-size: 18px;
color:#fff;
border:none;
border-bottom:4px solid black;
border-radius: 4px;
border: 2px solid #ffffff90;
cursor: pointer;
background: linear-gradient(315deg, #104E68 0%, #128FA1 74%);
color: #e2e2e2;
font-weight: bold;
font-size: 17px;

}
.centerInfo {
text-align: center;
color: white;
font-family: sans-serif;
font-size: 20px;
margin-bottom: 0px;
margin-top: 0px;

}


#for-message
{
  color :red;
  display: block;
  font-size: 15px;
  margin-bottom: 0.5%;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 600;
  padding: 10px 25px;
}

.container
{
width: 800px;
margin:0 auto 0 auto;
text-align: center;

/*  border:139px solid #061634;
border-right:368px solid #061634;
border-left:368px solid #061634;
*/
border-radius: 0%;
background-color: linear-gradient(315deg, #061634 0%,  74%); 
}